.project_btn{
    background-color: #222;
    color: #fff;
    margin-top: .5em;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 2px;
    transition: .5s;
    border-radius: 3px;
}

.project_btn:hover{
    color: #ffbb33;

}