.NavBar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.List{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right:1em ;
    border-right:.8px solid #ffffff75 ;
    padding-right:12px ;
}

.item:hover{
    border:.8px solid rgb(248, 5, 5) ;
    padding: 5px 10px 7px 10px;
    border-radius: 10px;
}

.item, a{
    color: white;
    text-decoration: none;
    transition: .8s;
}

.item, a:hover{
    color: #ffbb33;
}